name: End-to-end tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # Install dependencies with caching
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v7
      - uses: actions/upload-artifact@v6
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore 
      - uses: actions/upload-artifact@v6
        with:
          name: cypress-videos
          path: cypress/videos
          if-no-files-found: ignore 